#headerContent {
    display: inline-flex;
    width: 100%;
    background-color: #a33100ff;
}

#headerImg {
    width: 11%;
}

#headerImg img {
    width: 98%;
}

#headerTxt {
    display: block;
    padding-left: 40px;
    margin-top: auto;
    margin-bottom: auto;
}

#headerTxt p {
    color: #d67c1d;
}
